body{
   font-family: 'Gaegu', sans-serif;
   font-family: 'Lobster Two', sans-serif;
   font-family: 'Kalnia', serif;
   font-family: 'Noto Sans KR', sans-serif;
   font-family: 'Song Myung', serif;
   font-family: 'Gowun Batang', serif;
   font-family: 'Nanum Gothic Coding', monospace;
   font-family: 'Noto Serif KR', serif;
}

