footer{
  margin-left: 300px;
  /*! background-color: #eeb5b6; */
  padding: 50px;
  /*! min-height: 600px; */
  position: relative;
  /*! background-color: #c7c6c6; */
  /*! background-color: #b8e3ea; */
}
footer .last{   
  background-color: rgba(256,256,256,0.4)
}
footer .last ul{   
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 50px 50px 0 50px;
}
footer .last ul li{   

}
footer .last ul li:not(:first-child){
    font-size: 30px;
  /*! justify-self: end; */
  margin-right: 110px;
}
footer .last ul li:not(:first-child) a:hover{
  color: white;
}
footer .last ul li:nth-child(1){  
  grid-column: 1;
  grid-row: 1 / span 2;
  font-size: 50px;
  justify-self: self-start;
  margin-left: 110px;
}
footer .last ul li:nth-child(2){  
  grid-column: 2;
  grid-row: 1;
}
footer .last ul li:nth-child(3){   
  grid-column: 2;
  grid-row: 2;
}
footer .last ul li:nth-child(4){  
  grid-column: 2;
  grid-row: 3;
}
footer .last ul li:nth-child(5){  
  grid-column: 2;
  grid-row: 4;
}
footer .last ul li>a{   
  /*! display: block; */
}
footer .last ul li:nth-of-type(1) > a{
  font-weight: 700;
}
footer .last>p{  
  margin-left: 110px;
  padding-bottom: 50px;
}
footer .last>a{  
  font-size: 0;
  display: block;
  position: absolute;
  right: 100px;
  top: -55px;
  width: 157px;
  height: 157px;
  background-size: contain; 
  background-repeat: no-repeat; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 192, 203, 0.5); 
  border-radius: 50%; 
  right: 30px;
}
footer .last > a::before{
  content: "";
  background-image: url(../img/top.svg);
  width: 60px;
  height: 60px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateZ(-30deg);
}
footer .last > a::after{
  content: "";
  width: 140px;
  height: 140px;
  position: absolute;
  border: dashed rgb(25, 157, 157);
  border-radius: 50%;
}

