footer{
  margin-left: 300px;
  background-color: #eeb5b6;
  padding: 0 50px;
  min-height: 600px;
}
footer .last{
   
}
footer .last ul{
   
}
footer .last ul li{
   
}
footer .last ul li a{
   
}
footer .last .sublist{
   
}
footer .last .sublist h2.hide{
   
}
footer .last .sublist ul.useguide{
   
}
footer .last .sublist ul.useguide li{
   
}
footer .last .sublist ul.useguide li a{
   
}
footer .last .sublist p{
   
}
footer .last>a{
   
}
