/* 상단영역 */
header{
  /*! background-color: #eeb5b6; */
  padding: 25px;
  align-items: center;
  display: flex;
}
header div.wrap{
  display: flex;
  justify-content: space-between;
}
header div.wrap hl{
  font-size: 27px;
}
header div.wrap hl a{

}
header div.wrap ul.flex {
  /*! gap: 80px; */
  height: 100%;
}
header div.wrap ul.flex li{
   
}
header div.wrap ul.flex li a{   
  padding: 0 20px;
  height: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 35px;
  transform: translateX(-61px);
}
header div.wrap ul.flex li a:hover{
  color: #eeb5b6;
}
header div.wrap>a{
  font-size: 0;
  width: 50px;
  height: 30px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header div.wrap .sublist{
  position: absolute;
  left: 0;
  top: 85px;
  width: 100%;
  padding: 40px 0 70px;
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 2;
  height: 33.5%;
  grid-template-rows: 1fr 1fr auto;
  opacity:0;
  transition: 1s;
}
header div.wrap:hover .sublist{
  opacity:1;
}
header div.wrap .sublist ul{
  grid-column: 3 / span 4;
}
header div.wrap .sublist ul li{
  font-size: 45px;
}
header div.wrap .sublist ul.useguide li a{

}
header div.wrap .sublist ul.useguide li a:hover{
color: #eeb5b6;
}
header div.wrap .sublist p{

  grid-column: 2;
  grid-row: 3;
}
/* 타이틀영역 */
div#title{
  background-color: #9FD2C4;
  padding-top: 30px;
  /*! padding-bottom: 30px; */
  height: 100vh;
  min-height: 770px;
  background-image: url(../img/for.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
div#title .wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  /*! background-image: url(../img/big_pink.gif); */
  /*! width: 2096px; */
  margin: 0 auto;
  height: 769px;
  /*! background-size: contain; */
  /*! background-position: center; */
  /*! background-repeat: no-repeat; */
  position: relative;
}
div#title .wrap::before{
  content: ""; 
  width: 700px;
  height: 700px;
  display: block;
  background-color: #eeb5b6;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: calc(50% - 350px);
}
div#title .wrap h2{
  font-size: 150%;
  z-index: 1;
  text-align: center;
}
div#title .wrap h2 span{
  font-size: 155%;
  /*! z-index: 1; */
}
div#title .wrap h3{
  font-size: 350%;
}
section#WhoIam{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeb5b6;
}
section#contact .wrap{
 
}
/* 슬라이드 */
aside{

  position: fixed;
  right: 20px;
  top: calc( 50% - 42.5px);
}
aside ul{
  
}
aside ul li{ 
  margin-bottom: 15px;
}
aside ul li a{ 
  font-size: 0;
  width: 10px;
  height: 10px;
  display: block;
  background-color: yellow;
  border-radius: 50%;
}