/* 상단영역 */
header{
  position: fixed;
  left: 0;
  background-color: white;
  background-color: #d5f5d5;
}
header div.he{
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div.he hl{
  font-size: 27px;
  margin: 30px;
}
header div.he hl a{
  font-weight: 700;
}
/* 헤더의 소개문 */
header div.he .between{
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  row-gap: 20px;
}
header div.he .between>img{  
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
header div.he .between ul.list{
  
}
header div.he .between ul.list li{
  
  line-height: 1.4;
  font-family: 'LeeSeoyun';
}
header div.he .between ul.list2{
  
}
header div.he .between ul.list2 li.kor{  
  line-height: 1.4;
  font-family: 'LeeSeoyun';
}
header div.he .between ul.list2 li.kor::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-top: 2px solid #b1dfb1;
  margin: 5px 0;
}
header div.he .between ul.list2 li.kor span.eng{  
  display: block;
}
header div.he .between ul.list2 li.kor span.eng::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-top: 2px solid #b1dfb1;
  margin: 5px 0;
}
header div.he .between ul.list3{  
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}
header div.he .between ul.list3::before{
  content: "";
  margin-bottom: 15px;
  border-top: 2px solid #b1dfb1;
}
header div.he .between ul.list3 img{  
  width: 200px;
  height: 250px;
  display: none;
}
header div.he .between ul.list3 li.kor{  
  line-height: 1.4;
  font-weight: 700;
}
header div.he .between ul.list3 li.kor span{  
  font-weight: 500;
  display: block;
  padding-left: 35px;
}
header div.he .between .ii{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}
header div.he .between .ii a{
  display: block;
  box-shadow: 7px 7px #f7a5b3;
}
header div.he .between .ii a:nth-of-type(1){  
  background-color: pink;
  width: calc(100% / 2);
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 15px;
}
header div.he .between .ii a:nth-of-type(2){
  
  background-color: pink;
  width: calc(100% / 2);
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 15px;
}

/* who I am */
section#WhoIam{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeb5b6;
}
section#contact .wrap{
 
}
/* 슬라이드 */
aside{
  position: fixed;
  right: 20px;
  top: calc( 50% - 42.5px);
}
aside ul{
  
}
aside ul li{ 
  margin-bottom: 15px;
}
aside ul li a{ 
  font-size: 0;
  width: 10px;
  height: 10px;
  display: block;
  background-color: yellow;
  border-radius: 50%;
}
.show{
  display: grid !important;
}
.none{
  display: none !important;
}
.slideH{
  left: -300px;
  transition: 0.5s;
}