main{ 
  z-index: -1;
}
/* about me */
section#aboutme{
  margin-left: 300px;
  /*! background-color: #eeb5b6; */
  /*! padding-bottom: 50px; */
  /*! height: 100vh; */
  /*! min-height: 770px; */
  padding-top: 50px;
  margin-left: 300px;
  /*! background-color: #c7c6c6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*! background-color: #9d91cf; */
}
section#aboutme .subT{
  background-color: #eeeeee;
  background-color: #eeeeee;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 50px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto;
  column-gap: 30px;
  border-radius: 0 100px;
}
section#aboutme .subT h2{
  grid-column: 1 / span 2;
  grid-row: 1;
  /*! text-align: center; */
  padding-left: 110px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
section#aboutme .subT h2 span{  
  font-weight: 700;
}
section#aboutme .subT h2 span:nth-child(1){  
  color: #630212;
}
section#aboutme .subT h2 span:nth-child(2){  
  color: #0660e4;
}
section#aboutme .subT h2 span:nth-child(3){  
  color: #2ba857;
}
section#aboutme .subT ul.list1 {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}
section#aboutme .subT ul.list1 img{  
  border-radius: 5px;
  box-shadow: 10px 11px #f7a5b3;
}
section#aboutme .subT ul.list2 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
section#aboutme .subT ul.list2 p {
  line-height: 1.9;
  font-size: 19px;
}
section#aboutme .subT ul.list2 p span {
  display: block;
  line-height: 1.9;
}
/* portfolio */
section#portfolio{
  background-color: #eeb5b6;
  padding-bottom: 50px;
  /*! height: 100vh; */
  min-height: 770px;
  padding-top: 50px;
  margin-left: 300px;
  background-color: #c7c6c6;
  background-color: #eeeeee;
}
section#portfolio .wrap{
  background-color: #eeeeee;
  /*! margin-bottom: 50px; */
  box-sizing: border-box;
  padding: 50px;
  position: relative;
}
section#portfolio .wrap h2{
  font-size: 75px;
  margin-bottom: 30px;
  /*! text-align: center; */
  border-top: 3px solid #ddd;
  padding-left: 110px;
  padding-top: 30px;
  font-weight: 700;
}
section#portfolio .wrap>div.flex{
  /*! flex-direction: column; */
  /*! margin-bottom: 50px; */
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  row-gap: 20px;
}
section#portfolio .wrap>div.flex .odd{
  width: calc(30% - 10px);
  box-sizing: border-box;
  padding: 30px;
  flex-direction: column;
}
section#portfolio .wrap > div.flex .odd:hover{
  background-color: #ddd;
}
section#portfolio .wrap>div.flex .odd a{

}
section#portfolio .wrap>div.flex .odd a img{
  padding-bottom: 15px;
}
section#portfolio .wrap>div.flex .odd .text{

}
section#portfolio .wrap>div.flex .odd .text h3{
  padding-bottom: 10px;
  font-size: 35px;
}
section#portfolio .wrap > div.flex .odd .text .link{  
  display: flex;
  justify-content: space-between;
}
section#portfolio .wrap>div.flex .odd .text button{
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  border: 3px solid #b8e3ea;
  color: #6e6e6e;
  /*! left: 25%; */
  color: black;
  box-shadow: 7px 7px rgba(10, 10, 10, 0.3);
  cursor: pointer;
  width: calc(50% - 10px);
  font-size: 13px;
  font-weight: 700;
}
section#portfolio .wrap>div.flex .even{
  width: calc(30% - 10px);
  box-sizing: border-box;
  padding: 30px;
  flex-direction: column;
}
section#portfolio .wrap>div.flex .even:hover{
  background-color: #ddd;
}
section#portfolio .wrap>div.flex .even a{

}
section#portfolio .wrap>div.flex a{
  position: relative;
}

section#portfolio .wrap>div.flex .even a img{
  padding-bottom: 15px;
}
section#portfolio .wrap > div.flex .even .text{
  
}
section#portfolio .wrap > div.flex .even .text h3{  
  padding-bottom: 10px;
  font-size: 35px;
}
section#portfolio .wrap > div.flex .even .text .link{  
  display: flex;
  justify-content: space-between;
}
section#portfolio .wrap > div.flex .even .text .link button{
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  border: 3px solid #b8e3ea;
  color: #6e6e6e;
  color: black;
  box-shadow: 7px 7px rgba(10, 10, 10, 0.3);
  cursor: pointer;
  width: calc(50% - 10px);
  font-size: 13px;
  font-weight: 700;
}