#title{

}
section#portfolio{
  background-color: #eeb5b6;
  padding-bottom: 50px;
  /*! height: 100vh; */
  min-height: 770px;
  padding-top: 50px;
  margin-left: 300px;
}
section#portfolio .wrap{
  background-color: #eeeeee;
  /*! margin-bottom: 50px; */
  box-sizing: border-box;
  padding: 50px;
}
section#portfolio .wrap h2{
  font-size: 75px;
  border-bottom: 3px solid;
  margin-bottom: 30px;
  /*! text-align: center; */
  border-top: 3px solid;
  padding-left: 110px;
}
section#portfolio .wrap>div.flex{
  /*! flex-direction: column; */
  /*! margin-bottom: 50px; */
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  row-gap: 20px;
}
section#portfolio .wrap>div.flex .odd{
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding: 30px;
  background-color: #ddd;
}
section#portfolio .wrap>div.flex .odd a{

}
section#portfolio .wrap>div.flex .odd a img{

}
section#portfolio .wrap>div.flex .odd a.text{

}
section#portfolio .wrap>div.flex .odd a.text h3{

}
section#portfolio .wrap>div.flex .odd a.text ul{

}
section#portfolio .wrap>div.flex .odd a.text ul li{

}
section#portfolio .wrap>div.flex .odd a.text ul li span{

}
section#portfolio .wrap>div.flex .even{
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding: 30px;
  background-color: #ddd;
}
section#portfolio .wrap>div.flex .even a{

}
section#portfolio .wrap>div.flex .even a img{

}
section#portfolio .wrap>div.flex .even a.text{

}
section#portfolio .wrap>div.flex .even a.text h3{

}
section#portfolio .wrap>div.flex .even a.text ul{

}
section#portfolio .wrap>div.flex .even a.text ul li{

}
section#portfolio .wrap>div.flex .even a.text ul li span{

}