section#skill{
  background-color: #eeb5b6;
  /*! padding-bottom: 50px; */
  height: 100vh;
  box-sizing: border-box;
  min-height: 600px;
  padding-bottom: 50px;
  margin-left: 300px;
}
section#skill .wrap{
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  /*! border-radius: 30px; */
  padding-right: 50px;
  height: 100%;
}
section#skill .wrap h2{
  font-size: 75px;
  border-bottom: 3px solid;
  margin-bottom: 10px;
  border-top: 3px solid;
  /*! padding-left: 110px; */
}
section#skill .wrap p{
  line-height: 3;
  font-size: 23px;
  display: flex;
}

.backT{
  margin-left: 0 !important;
  transition: 0.5s;
}
