section#skill{
  background-color: #eeb5b6;
  /*! padding-bottom: 50px; */
  height: 100vh;
  box-sizing: border-box;
  min-height: 600px;
  padding-bottom: 50px;
  margin-left: 300px;
  background-color: #c7c6c6;
}
section#skill .wrap{
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  /*! border-radius: 30px; */
  padding-right: 50px;
  height: 100%;
}
section#skill .wrap h2{
  font-size: 75px;
  border-bottom: 3px solid;
  margin-bottom: 10px;
  border-top: 3px solid;
  /*! padding-left: 110px; */
}
section#skill .wrap p{
  line-height: 3;
  font-size: 23px;
  display: flex;
}
section#skill .wrap .graphM{

  row-gap: 20px;
  display: flex;
  flex-direction: column;
}
section#skill .wrap .graphM .graph{
  display: flex;
  gap: 10px;
}
section#skill .wrap .graphM .graph:nth-child(1)::before{
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../img/html.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section#skill .wrap .graphM .graph span{
  height: 30px;
  display: block;
  line-height: 30px;
}
section#skill .wrap .graphM .graph:nth-child(1) span{  
  background-color: #ef9393;
  width: 75%;
}
section#skill .wrap .graphM .graph:nth-child(2) span{
  
  background-color: #ef9393;
  width: 85%;
}
section#skill .wrap .graphM .graph:nth-child(3) span{
  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(4) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(5) span{  
  background-color: #ef9393;
  width: 95%;
}
section#skill .wrap .graphM .graph:nth-child(6) span{  
  background-color: #ef9393;
  width: 95%;
}
section#skill .wrap .graphM .graph:nth-child(7) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(8) span{  
  background-color: #ef9393;
  width: 55%;
}
.backT{
  margin-left: 0 !important;
  transition: 0.5s;
}
