section#skill{
  background-color: #eeb5b6;
  padding-top: 50px;
  height: 100vh;
  box-sizing: border-box;
  min-height: 1000px;
  padding-bottom: 50px;
  margin-left: 300px;
  background-color: #c7c6c6;
  /*! background-color: #f6ebb5; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*! background: linear-gradient( to top, rgba(246, 235, 181, 0) 10%, rgba(246, 235, 181, 0.25) 25%, rgba(246, 235, 181, 0.5) 50%, rgba(246, 235, 181, 0.75) 75%, rgb(246, 235, 181) 100% ); */
  background: linear-gradient( to top, rgba(246, 235, 181, 0) 0%, rgba(246, 235, 181, 0) -35%, rgba(246, 235, 181, 0.75) 39%, rgb(246, 235, 181) 100% );
}
section#skill .wrap{
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  /*! border-radius: 30px; */
  padding-right: 50px;
  /*! height: 100%; */
}
section#skill .wrap h2{
  font-size: 75px;
  border-bottom: 3px solid #ddd;
  margin-bottom: 10px;
  /*! border-top: 3px solid; */
  /*! padding-left: 110px; */
  padding-bottom: 30px;
  font-weight: 700;
}
section#skill .wrap p{
  line-height: 3;
  font-size: 23px;
  display: flex;
}
section#skill .wrap .graphM{
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
section#skill .wrap .graphM .graph{
  display: flex;
  gap: 10px;
  align-items: center;
}
section#skill .wrap .graphM .graph::before{
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
section#skill .wrap .graphM .graph:nth-child(1)::before{
  background-image: url(../img/html.png);
}
section#skill .wrap .graphM .graph:nth-child(2)::before{
  background-image: url(../img/css.png);
}
section#skill .wrap .graphM .graph:nth-child(3)::before{
  background-image: url(../img/jq.png);
}
section#skill .wrap .graphM .graph:nth-child(4)::before{
  background-image: url(../img/js.png);
}
section#skill .wrap .graphM .graph:nth-child(5)::before{
  background-image: url(../img/jen.png);
}
section#skill .wrap .graphM .graph:nth-child(6)::before{
  background-image: url(../img/sass.png);
}
section#skill .wrap .graphM .graph:nth-child(7)::before{
  background-image: url(../img/ps.png);
}
section#skill .wrap .graphM .graph:nth-child(8)::before{
  background-image: url(../img/ai.png);
}
section#skill .wrap .graphM .graph:nth-child(9)::before{
  background-image: url(../img/Vue.png);
}
section#skill .wrap .graphM .graph:nth-child(10)::before{
  background-image: url(../img/web.png);
}
section#skill .wrap .graphM .graph:nth-child(11)::before{
  background-image: url(../img/ov.png);
}
section#skill .wrap .graphM .graph:nth-child(12)::before{
  background-image: url(../img/w9.png);
}
section#skill .wrap .graphM .graph:nth-child(13)::before{
  background-image: url(../img/pr.png);
}
section#skill .wrap .graphM .graph span{
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding-left: 10px;
}
section#skill .wrap .graphM .graph:nth-child(1) span{  
  background-color: #ef9393;
  width: 75%;
}
section#skill .wrap .graphM .graph:nth-child(2) span{
  
  background-color: #ef9393;
  width: 85%;
}
section#skill .wrap .graphM .graph:nth-child(3) span{
  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(4) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(5) span{  
  background-color: #ef9393;
  width: 90%;
}
section#skill .wrap .graphM .graph:nth-child(6) span{  
  background-color: #ef9393;
  width: 95%;
}
section#skill .wrap .graphM .graph:nth-child(7) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(8) span{  
  background-color: #ef9393;
  width: 55%;
}
section#skill .wrap .graphM .graph:nth-child(9) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(10) span{  
  background-color: #ef9393;
  width: 75%;
}
section#skill .wrap .graphM .graph:nth-child(11) span{  
  background-color: #ef9393;
  width: 85%;
}
section#skill .wrap .graphM .graph:nth-child(12) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .graphM .graph:nth-child(13) span{  
  background-color: #ef9393;
  width: 65%;
}
section#skill .wrap .someth{
  width: 100%;
  border-top: 2px solid #8888;
  padding-top: 30px;
}
section#skill .wrap .someth ul{  
  gap: 30px;
}
section#skill .wrap .someth ul li{
  
}
.backT{
  margin-left: 0 !important;
  transition: 0.5s;
}
.stick1{
  width: calc(100% - 10px);
}
.stick2{
  width: calc(100% - 10px);
}
/* story */
#story{  
  /*! background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /*! min-height: 800px; */
  padding-bottom: 50px;
}
#story .storyG{  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}
#story .s1{  
  background-color: rgba(255,192,203,0.9);
  padding: 50px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  box-sizing: border-box;
  width: 700px;
  height: 150px;
}
#story .s1 h2{  
  font-size: 0;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#story .s1 h2::before{  
  content: "";
  background-image: url(../img/graduation.svg);
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
#story .s1 p{  
  grid-column: 2;
  display: flex;
  align-items: center;
}
#story .s2{  
  background-color: rgba(184,227,234,0.9);
  padding: 50px;
  border-radius: 30px;  
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  box-sizing: border-box;
  width: 700px;
  height: 150px;
}
#story .s2 h3{  
  font-size: 0;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#story .s2 h3:before{
  content: "";
  background-image: url(../img/certificate.svg);
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
#story .s2 p{  
  grid-column: 2;
  display: flex;
  align-items: center;
}
#story .s3{  
  background-color: rgba(246,235,181,0.9);
  padding: 50px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  box-sizing: border-box;
  /*! width: 660px; */
  height: 150px;
  grid-row: 2;
  grid-column: 1 / span 2;
}
#story .s3 h4{  
  font-size: 0;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#story .s3 h4::before{
  content: "";
  background-image: url(../img/diary.svg);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
#story .s3 p{  
  grid-column: 2;
  display: flex;
  align-items: center;
  height: 50px;
}
